body{
  /*  background: black;*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Crimson Text', serif;
}

p,a, span{
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper ul li a{
  color: black;
}

#teakart-nav-mobile a{
  color:white;
  font-weight: normal;
}

#tea-dropdown, #coffee-dropdown, #chocolate-dropdown, #spices-nuts-dropdown, #aroma-dropdown, #cosmetics-dropdown, #accessories-dropdown, #consultancy-dropdown, #tea-tourism-dropdown, #sustainability-dropdown{
  width: 100% !important;
  left: 0 !important;
  top: 64px !important;
  overflow: hidden;
  height: 32vh !important;
}

.drop-nav-item-container{
  display: inline-block;
  width: 15%;
}

#drop-nav-tea-img, #drop-nav-coffee-img,#drop-nav-chocolate-img,#drop-nav-spices-img,#drop-nav-aroma-img,#drop-nav-cosmetics-img,#drop-nav-accessories-img,#drop-nav-consultancy-img,#drop-nav-tea-tourism-img,#drop-nav-sustainability-img{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 75%;
}

#drop-nav-tea-img{
  background-image: url("../img/tea.jpg");
}

#drop-nav-coffee-img{
  background-image: url("../img/coffee.jpg");
}

#drop-nav-chocolate-img{
  background-image: url("../img/choc.jpg");
}

#drop-nav-spices-img{
  background-image: url("../img/spices.jpg");
}

#drop-nav-aroma-img{
  background-image: url("../img/aroma.jpg");
}

#drop-nav-cosmetics-img{
  background-image: url("../img/cosmetics.jpg");
}

#drop-nav-accessories-img{
  background-image: url("../img/accessory.jpg");
}

#drop-nav-consultancy-img{
  background-image: url("../img/consultancy.jpg");
}

#drop-nav-tea-tourism-img{
  background-image: url("../img/tourism.jpg");
}

#drop-nav-sustainability-img{
  background-image: url("../img/sustain.jpg");
}

/* Code for Owl Carousel */
.landing-slideshow .owl-item {
  width: 310px !important;
  height: 310px !important;
}

.landing-slideshow .owl-carousel .item {
  height: 100%;
  width: 100%;
}

.landing-slideshow .owl-carousel .owl-item img {
  height: 100%;
  position: relative;
}

.tea-text{
  position: absolute;
  bottom: 0;
  margin: 0 5px;
  padding: 0 5px;
  background: rgb(255, 255, 255); /* fallback color */
  background: rgba(255, 255, 255, 0.7);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tea-slider-p{
  padding-left: 2px;
  width: 100%;
}

.tea-slider-content {
  color: black;
  /*font: bold 24px/45px Helvetica, Sans-Serif; */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding-left: 6px;
}

/* End of code for Owl Carousel */

/* For Featured Products */

.featured-product-img-wrapper{
  height: 250px;
}

/* End of code of Featured Products */

#vision-parallax{
  height: 275px !important;
}

#contact-parallax{
  height: 500px !important;
}

.contact-form-wrapper{
  background: white;
  border-radius: 15px;
}

.contact-form-wrapper h4{
  background: #f7e0c4;
  padding: 10px;
  margin: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.contact-form-wrapper form{
  padding: 20px !important;
}

/* Media Queries */

/* Media query for landscape phone */
@media only screen and (min-device-width: 480px) and (max-device-width: 768px) and (orientation: landscape) {
  .featured-product-img-wrapper{
    height: 150px;
  }
}
/* Small devices (tablets, 768px and up) for header */
@media (min-width: 768px){

}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 992px) {
  .landing-slideshow .owl-item {
    width: 420px !important;
    height: 420px !important;
  }

  #vision-parallax{
    height: 350px !important;
  }

  #contact-parallax{
    height: 700px !important;
  }

  .contact-form-wrapper form{
    padding: 10px !important;
  }

  .featured-product-img-wrapper{
    height: 250px;
  }

  .featured-product-img-wrapper img{
    /* A one-second transition was to disturbing for me */
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -o-transition:      all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    transition:         all 0.3s ease;
  }

  .featured-product-img-wrapper img:hover {
    opacity: 0.8;
    width:   104%;
    height:  104%; }

  }
